.sidebar {
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: var(--gray800);
  height: 100%;
  position: fixed;
  overflow: auto;

  div {
    background-color: var(--gray800);
    padding: 30px;

    img {
      width: 90px;
      height: 90px;
      display: block;
      margin: auto;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  a {
    padding: 12px;
    display: flex;
    text-decoration: none;
    color: #000;
    transition: ease-in-out 0.5s;

    svg {
      margin-right: 0.4rem;
    }

  }

  a:hover {
    background-color: var(--color1);
  }
}

.content {
  margin-left: 200px;
  padding: 1px 14px;
}

@media (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  a {
    float: left;
  }

  .content {
    margin-left: 0;
  }
}

@media (max-width: 360px) {
  .sidebar {
    font-size: 0.8rem;
  }
}