:root {
  --color1: #314035;
  --gray700: #D9D9D9;
  --gray800: #A5A4A6;
  --gray900: #3B3C40;
  --black: #0D0D0D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--gray700);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}